[db]
dbhost ansible_ssh_host=localhost

[db:vars]
db_name=benchmark-production
mapped_port=27017

[api]
apihost ansible_ssh_host=localhost

[api:vars]
mapped_port=80
test_path=http://0.0.0.0/api/v1/bench/desc/all
app_service_name=benchmarkapi
socket_file=/tmp/benchmarkapi.sock
access_log=/var/log/benchmark-api-access.log
error_log=/var/log/benchmark-api-error.log
gunicorn_config_file=benchmark_config_api.py

[all:children]
db
api

[all:vars]
benchmark_env=benchmark-local
benchmark_version=master
benchmark_repo=usnistgov/dft-crossfilter
anacondadir=anaconda
debug=True
ansible_ssh_private_key_file=
ansible_connection=local
ansible_ssh_user=fyc
