server {
	client_max_body_size 500M;
	proxy_connect_timeout 60s;
 	proxy_read_timeout 120s;
    listen {{ mapped_port }};
    server_name 0.0.0.0 localhost {{ ansible_ssh_host }};

    location / {
        include proxy_params;
        proxy_read_timeout 180s;
        proxy_pass http://unix:{{ socket_file }};
        }
}